.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.game__card {
    color: black;
    margin: 10px 15px;
}
.game__card__img {
    width: 17.9rem;
    height: 17.9rem;
}