.footer {
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color: rgb(223, 213, 213);
    bottom: 0;
    height: 100px;
    width: 100%;
    box-sizing: content-box;
    margin-top: 2em;
    color: black;
}
.footer__link {
    text-decoration: underline;
    margin: 50% auto;
}
@media (max-width: 599px) {
    .footer {
        display: none;
    }
}