.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(240, 224, 224);
  color: black;
  min-height: 100vh;
}

.page-container {
  flex: 1;
}
@media (min-width: 1024px) {
  .App {
    padding: 0 175px;
  }
}